<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div class="container">
    <div class="row justify-content-center">


        <div class="col-lg-8">
            <div class="col-lg-8">
             <!--<app-list [personnes]="personnesliste" (sendMessageToDad)="getpersonne($event)"></app-list>-->
             <app-list></app-list>
            </div>
        </div>


        <div  class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div *ngIf='personne.id'(click)="affichedetails()" class="card border-0 shadow" >
                <img  [src]="personne.image| defaultImage" alt="...">
                <br>
                <span style="margin-left: 45%;" class="h4 mb-0">{{ personne.id}}</span>
                <div class="card-body p-1-9 p-xl-5">
                 
                    <div class="mb-4">
                        <h3 class="h4 mb-0">{{personne.firstname}} {{personne.lname}} </h3>
                        <span [hidden]="isHidden" class="text-primary">{{personne.job}} </span>
                       
                    </div>
                    <ul [hidden]="isHidden" class="list-unstyled mb-4">
                        <li class="mb-3"> <strong> Age :</strong>  {{personne.Age}}</li>
                       <li class="mb-3"> <strong>CIN:</strong>   {{personne.Cin}}</li>
                     
                    </ul>
                    <ul [hidden]="isHidden" class="list-unstyled mb-4">
                        <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i>{{personne.email}}</a></li>
                        <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>{{personne.Tel}}</a></li>
                        <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>{{personne.Adress}}</a></li>
                    </ul>
                    <ul class="social-icon-style2 ps-0">
                        <li><a href="#!" class="rounded-3"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                    
                </div>
                 <div class="row justify-content-center">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" (click)="add()"> Embauche </button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger" (click)="delete()"> delete </button>
                    </div>

                 </div>
              
                   
            </div>
        </div>
         
        
    </div>
    <h5 *ngIf="listeEmbauche.length">Liste des CVS sélectionnés pour embauche</h5>

</div>

<app-embauche-liste></app-embauche-liste>